<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            <div class="input-group justify-content-end">
                <button class="btn btn-outline-light" type="button">New Server</button>
                <button class="btn btn-outline-light" type="button">Print Report</button>
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Filter</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" value="ALL">ALL</a></li>
                    <li><a class="dropdown-item" value="SERVER_UP">SERVER UP</a></li>
                    <li><a class="dropdown-item" value="SERVER_DOWN">SERVER DOWN</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<ng-container *ngIf="(appState$ |async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-md-12 single-note-item text-center mt-5">
            <div class="spinner-border text-primary" role="status">
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <div class="container mt-5">
            <table class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Name</th>
                        <th scope="col">Memory</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ping</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let server of appState.appData.data.servers; let i = index;">
                        <td><img [src]="server.imageUrl" [alt]="server.name" width="40" height="40"></td>
                        <td>{{server.ipAddress}}</td>
                        <td>{{server.name}}</td>
                        <td>{{server.memory}}</td>
                        <td>{{server.type}}</td>
                        <td>
                            <span class="badge"
                                [ngClass]="[server.status === Status.SERVER_UP ? ' bg-success' : ' bg-danger']">
                                {{server.status === Status.SERVER_UP ? 'SERVER UP' : 'SERVER DOWN'}}
                            </span>
                        </td>
                        <td>
                            <a (click)="pingServer(server.ipAddress)" style="cursor: pointer;">
                                <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress"
                                    class="material-icons" title="Ping server">&#xe328;</i>
                                <i *ngIf="(filterStatus$ |async) === server.ipAddress"
                                    class="spinner-border text-primary" role="status" style="font-size:15px"></i>
                            </a>
                        </td>
                        <td>
                            <a (click)="deleteServer(server)" class="delete" data-toggle="modal"
                                style="cursor: pointer;"><i class="material-icons" data-toggle="tooltip" title="Delete">
                                    &#xE872;
                                </i></a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</ng-container>